{% extends "template.html.twig" %}

{% block body %}
    <div class="row">
{% for pfe in pfes%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{pfe.title}}</h5>
        <p class="card-text">{{pfe.studentname}}</p>
    </div>
</div>
{% endfor %}
    </div>
{% endblock %}